
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline">Naresh I Technologies</h1>
        <h2>Click on the links below to navigate:</h2>
        <h3>
            <a href="/Home/Register">Register</a> <br />

            <a href="/Home/Login">Login</a> <br />
            <a href="/Home/ForgotPassword">Forget Password</a> <br />
            <a href="/Home/ResetPassword">Reset Password</a> <br />
            <a href="/Home/Contact">Contact us</a> <br />
            <a href="/Home/Mission">Mission</a> <br />
            <a href="/Home/About">About</a> <br />
            <a href="/Home/Show/1">Show View1</a> <br />
            <a href="/Home/Display1/">Display Action1</a> <br />
            <a href="/Home/Display2/10">Display Action2</a> <br />
        </h3>
    </div>
</body>
</html>
